<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="principal">

    <div id="login">

        <div class="caixa">

            <img src="../static/img/logo.jpg" alt="">
            <h1>Login</h1>

            
            <div class="usuario">
                <form action="/login" method="post">
                    <label for="username"></label>
                    <input type="text" placeholder="Usuário" id="username" name="username" required><br>
            </div>
            
            <div class="senha">
                <label for="password"></label>
            <input type="password" placeholder="Senhay" id="password" name="password" required><br>
            </div>
           
            <div class="entrar">
                <p>Ainda não tem uma conta? <a href="/register">Crie uma.</a></p>
                <input type="submit" value="Entrar">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>

    </div>

</body>
</html>
